<h1>aqui encontrarás más de 10 cursos gratis para vos</h1>
<div class="container">
 <div class="row"> 
  {{#each cursos}}
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">{{nombreCurso}}</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 </div>
 {{/each}}
 </div>
</div>
