<h2>contamos con mas de 20 cursos para vos.. este 2022 empeza a estudiar con los mejores profesores de latinoamérica</h2>
<br>
<h3>Registrate como alumno para poder anotarse a cursos</h3>
<a  class="btn btn-primary" href="/cursos/apuntarse">anotarse</a>
<div class="containier">
    <div class="row">
       
          {{#each cursos}}
        <div class="card" style="width: 18rem;">
         <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{materia}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">apuntarse</a>
        </div>
        
       
       
     </div>  
     {{/each}}
    </div>    
</div>




