<div class="contenedor">
<a class="btn btn-primary" href="/login">login</a>
<a class="btn btn-primary" href="/registro">Registrate</a>
<a class="btn btn-primary" href="/cursos"> ver cursos cursos</a>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



 

</div>
<div class="contenedor2">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quaerat!</p>
</div>    



