<div class="container login_registro">
    <div class="row">
        <div class="col-8">
            <form action="/login" method="post">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input  class="form-control" type="text" name="user" placeholder="nombre de usuario">
                <label for="apellido">password:</label>
                <input  class="form-control" type="password" name="pass" placeholder="contraseña">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
            </form>
        </div>
    </div>
      <h6 class="registro_mensaje">no tienes cuenta?<a href="/registro">registrate gratis!</a></h6>
</div>