<table class="table">
  <thead>
    <tr>
    <th scope="col">cursos</th>
    
     
    </tr>
  </thead>
   
  <tbody>
     {{#each materias}}
    <tr>
        <td>{{materia}}</td>
 
    {{/each}}

  </tbody>
   

</table>