<h2><a class="btn btn-primary" href="/perfilAdmin">ver empleados deshabilitados</a></h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">nombre de usuario</th>
      <th scope="col">id</th>
      <th scope="col">eliminar</th>
      
    </tr>
  </thead>
    
  <tbody>
       {{#each particular}}
    <tr>
      <td>{{username}}</td>
      <td>{{id}}</td>
      <td><a href="/perfilAdmin/delete/{{id}}">eliminar</a></td>
    </tr>
      {{/each}}
  </tbody>
</table>